.wrapper {
  margin: 0 auto;
  margin-top: 40px;
  min-width: 867px;
  margin-bottom: 40px;
}

.content__header {
  display: flex;
  justify-content: space-between;

  h2 {
    color: #2c2d2e;
  }
  p {
    color: #7f7f80;
  }
  button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #4877f2;
    border: none;
    outline: none;
    cursor: pointer;

    p {
      color: #fff;
      margin-right: 20px;
    }
  }
}

hr {
  color: #2a2f37;
  opacity: 0.1;
}

.content__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;

  input {
    padding: 15px;
    border: none;
    min-width: 420px;
    cursor: pointer;
  }
}
.content__input {
  position: relative;

  svg {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
  }
  :hover {
    path {
      stroke: #4877f2;
    }
  }
}

.content__searh_right {
  display: flex;
  align-items: center;

  p {
    margin-right: 20px;
  }
  svg {
    cursor: pointer;
  }
}

.content__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 867px;
  height: 40px;
  background-color: #fff;
  margin-bottom: 10px;

  p {
    font-weight: 700;
    color: #808182;
  }
}

.content__click_1 {
  display: flex;
  align-items: center;

  p {
    margin-left: 20px;
  }
}

.content__click_2 {
  p {
    margin-right: 90px;
  }
}

.content__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  min-width: 867px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;

  p {
    margin-left: 20px;
  }
  svg {
    margin-right: 35px;
  }
}

.content__card_1 {
  margin-right: 90px;
}
.content__card_2 {
  margin-left: 30px;
}
.content__card_3 {
  margin-left: 20px;
}
.content__card_4 {
  margin-left: 55px;
}
