.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header_page {
    margin-top: 100px;
}

.main_page {
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    font-style: 30px;
}


