.wrapper {
  background-color: #f2f2f2;
  font-family: 'Jost', sans-serif;
}

.footer {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 120px;
}

.headerLeft {
  display: flex;
  align-items: center;
  position: relative;
  img {
    padding-right: 66px;
  }
  p {
      color: #424242;
  }

  ::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 32px;
    background-color: #d9d9d9;
    top: -5px;
    right: 154px;
  }
}

.headerRight {
    color: #424242;
}