.wrapper {
  position: relative;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  max-width: 1170px;
  height: 72px;
}

.headerRight {
  display: flex;
  align-items: center;

  p {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    margin-left: 8px;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2a2f37;
  }

  svg {
    cursor: pointer;
  }
  :hover {
    color: #4877f2;

    path {
      stroke: #4877f2;
    }
  }
}
